* {
    box-sizing: border-box;
}

::selection {
    background-color: none;
    color: none;
}
*::selection {
    background-color: none;
    color: none;
}

html {
    scroll-behavior: smooth;
    font-family: montserrat;
    line-height: 1.6;
}

body {
    font-size: rem(18px);
    margin: 0;
    // min-height: 100vh;
    // background-color: rgba(17, 1, 1, 1);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#myVideo {
    position: fixed;
    z-index: -200;

    right: 0;
    bottom: 0;
    // min-width: 100%;
    // min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    margin: 0 0 0.6em;
    font-weight: bold;
    line-height: 2;
    background-color: rgba(0, 0, 0, 0.55);
    background: linear-gradient(90deg, #0aa58e, #09f, #08fdd8, #ff5851, #66f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // -webkit-animation: rainbow_animation 6s ease-in-out infinite;
    // animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    margin: 0 0 8px;
    // animation: colorchange 6s ease-in-out infinite;
}

section,
main,
footer header {
    padding: 5px;
    // margin-top: 10px;
}

img {
    width: 100%;
    text-align: center;
}

p {
    margin: 0 0 1em;
    max-width: 70%;
    line-height: 2;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
:active {
    text-decoration: none;
    color: #0aa58e;
}
.my-button {
    border: 2px solid white;
    background-color: none;
    background-image: none;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 0.8rem;
}
.my-button:hover {
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    color: rgb(8, 8, 15);
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li {
    padding: 15px;
    margin-bottom: 15px;
    list-style: none;
    width: 100%;
    a {
        width: 100%;
    }
}

svg {
    cursor: pointer;
}

.responsive-nav {
    top: 0;
    left: 0;
    min-width: 15%;
}
.sticky-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}
.main-nav {
    list-style: none;
    font-weight: bold;
}
.page-wraper {
    display: flex;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 70px;
    // margin: 10px;
    padding: 30px;
}
.icon-img {
    // background-color: #08fdd8;
    -webkit-animation: rotate 3s ease-in-out infinite;
    animation: rotate 7s ease-in-out infinite;
}
.profile {
    border-radius: 50%;
    width: 30%;
    text-align: center;
    box-shadow: -1px 0px 10px 0px #d6e2e0;
}
.details {
    padding: 30px;
    background-color: #040404;
}

.social-icons {
    display: flex;
    justify-content: center;
    a {
        margin: 15px;
    }
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: auto;
    grid-gap: 80px;
    max-width: 70%;
    // margin: 0 auto;
    // justify-items: center;
    // margin: 10px;
}
.grid-label {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: auto;
    gap: 30px;
}

.label {
    margin: 20px 0;
    font-size: 20px;
    // transition: all 0.3s;
    text-transform: capitalize;
    // background-color: rgb(205, 205, 231);
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    box-shadow: -1px 0px 10px 0px #08fdd8;
}
.card {
    display: flex;
    // justify-content: center;
    padding: 15px;
}
.card-img {
    object-fit: contain;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    box-shadow: -1px 0px 10px 0px #08fdd8;
    position: relative;
}

.project-dtl {
    padding: 0 20px;
    // width: 300px;
}

span {
    margin-right: 10px;
    margin-left: 10px;
}
.proj-icon {
    width: 30px;
}
@keyframes colorchange {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.flex {
    display: flex;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.hero {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
    background-color: rgba(17, 1, 1, 1);
}

@keyframes dissapear {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

.name {
    padding-top: 5px;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}
.go {
    font-size: 25px;
    cursor: pointer;
}
.none {
    // display: none;
    position: absolute;
    z-index: -200;
    opacity: 0;
}
.display {
    display: flex;
}
.open {
    display: none;
}
@media (max-width: 700px) {
    .grid-label {
        display: grid;
        grid-template-columns: repeat(2, max(100px));
        grid-template-rows: auto;
        gap: 5px;
    }
    .label {
        // margin: 45px;
        padding: 5px;
    }
    .details {
        display: none;
        padding: 0;
    }
    .open {
        display: block;
        position: fixed;
        right: 20;
        top: 10;
    }
    .responsive-nav {
        position: absolute;
        z-index: 100;
        right: 0;
        left: 0;
        bottom: 0;
        min-width: 100%;
        background-color: rgb(6, 24, 36);
    }
    .sticky-menu {
        margin-left: 0px;
    }
    .hero {
        display: none;
        flex-direction: column;
        font-size: 16px;
        .profile {
            display: none;
        }
    }

    .card {
        flex-direction: column;
    }
    .close {
        display: block;
    }
    .project-grid {
        gap: 30px;
    }
    .project-dtl {
        display: flex;
        flex-direction: column;
    }
    .hide {
        visibility: hidden;
        display: none;
    }
    .card-img {
        object-fit: contain;
        width: 300px;
        height: 300px;
        border-radius: 5px;
        box-shadow: -1px 0px 10px 0px #08fdd8;
        position: relative;
    }
}
.icon-img + h1 {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotateY(20deg);
        .icon-img {
            display: none;
        }
        .icon-img + h1 {
            display: block;
        }
    }

    50% {
        transform: rotateY(120deg);
        .icon-img {
            display: none;
        }
        .icon-img + h1 {
            display: block;
        }
    }
    100% {
        transform: rotateY(140deg);
        .icon-img + h1 {
            display: block;
        }
    }
}
